header.home-page {
  @include background-responsive('landscape01')
}


main.home-page {
  // position: relative;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    font-family: Montserrat, sans-serif;
    padding-top: 50px;
    padding-bottom: 35px;
    font-size: clamp(40px, 7vw, 110px);
    text-transform: uppercase;
    color: #666;
    font-weight: 900;
    
  }

  .subtitle {
    font-family: roboto, sans-serif;
    padding-bottom: 50px;
    font-size: clamp(20px, 7vw, 60px);
    text-transform: uppercase;
    color: #666;
    font-weight: 900;
    letter-spacing: -1px;
    text-align: center;
    span{
      margin: 20px;
    }
  }

}



